*{
	padding:0;
	margin:0;
}
.container{
	padding-left: 37%;
}
.title{
	padding-left: 4%;
	padding-top: 5%;
}
.content{
	padding-top:4%;
}
.first {
    margin-left: 0.5%;
}
.addBtn{
	padding-left: 44%;
    	padding-top: 4%;
}
.sumBox{
	padding-top: 2%;
    	padding-left: 14%;
}
.center{
	padding-right:59%;
}
.inputBox{
	padding-top: 8%;
}
.formItems{
	padding:8%;
}
.avg{
	margin-left:1%;
}